.NowPlaying {
  display: flex;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #000;
  background: #fff;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  font-weight: 700;
  height: 6rem; 
  width: 100%;

  .albumArt {
    position: absolute;
    left: 10px;
  }

  .artists {
    color: rgb(107, 104, 104);
    font-weight: 500;
  }
}
